<!-------------------------------------------- 404 Page ------------------------------------------------->

<div class="flex items-center justify-center bg-cover bg-center bg-no-repeat min-h-screen" style="background-image: url('/public/assets/404.png');">
    <button class="bg-red-500 text-white py-2 px-4 rounded-lg mt-[15rem]" onclick="history.back()">Go Back</button>

</div>
